<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>管理动画信息</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">XBangumi</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                <span>小班固米</span>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item"><a th:href="@{/adminuser}">用户管理</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">进度管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/animeschedule}">动画进度管理</a></dd>
                        <dd><a th:href="@{/comicschedule}">漫画进度管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">动画信息管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/adminanime}">查看&修改动画条目</a></dd>
                        <dd><a th:href="@{/addanime}">新增动画条目</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">漫画信息管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/admincomic}">查看&修改漫画条目</a></dd>
                        <dd><a th:href="@{/addcomic}">新增漫画条目</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <form th:action="@{/userQueryAnime}" method="post" class="layui-form">
<!--            <div class="layui-form-item">-->
<!--                <label class="layui-form-label">密码框</label>-->
<!--                <div class="layui-input-inline">-->
                    <input type="text" name="userQueryInput" required lay-verify="required" placeholder="搜索动画名、导演、制作公司" autocomplete="off" class="layui-input">
<!--                </div>-->
                <div class="layui-form-mid layui-word-aux"><button type="submit" class="layui-btn layui-btn-primary">搜索</button></div>
<!--            </div>-->
<!--            <input type="text" name="userQueryInput">-->
<!--            <button>搜索</button>-->
        </form>
        <table class="layui-table">
            <thead>
            <tr>
                <th>动画海报</th>
                <th>动画名</th>
                <th>导演</th>
                <th>总集数</th>
                <th>制作公司</th>
                <th>首播日期</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="anime:${allAnime}">
                <td><img th:src="${anime.getPoster()}"></td>
                <td th:text="${anime.getAnimeName()}"></td>
                <td th:text="${anime.getDirector()}"></td>
                <td th:text="${anime.getEpisode()}"></td>
                <td th:text="${anime.getCompany()}"></td>
                <td th:text="${#dates.format(anime.getPlayDate(),'yyyy-MM-dd')}"></td>
                <td>
                    <div class="layui-btn-group">
                        <a th:href="@{/updateAnimeInfo/}+${anime.getAnimeId()}" class="layui-btn layui-btn-sm">修改信息</a>
                        <a th:href="@{/deleteAnAnime/}+${anime.getAnimeId()}" class="layui-btn layui-btn-sm layui-btn-danger">删除条目</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<script th:src="@{/layui/layui.js}"></script>
<script>
    //JS
    layui.use(['element', 'layer', 'util'], function(){
        var element = layui.element
            ,layer = layui.layer
            ,util = layui.util
            ,$ = layui.$;

        //头部事件
        util.event('lay-header-event', {
            //左侧菜单事件
            menuLeft: function(othis){
                layer.msg('展开左侧菜单的操作', {icon: 0});
            }
            ,menuRight: function(){
                layer.open({
                    type: 1
                    ,content: '<div style="padding: 15px;">处理右侧面板的操作</div>'
                    ,area: ['260px', '100%']
                    ,offset: 'rt' //右上角
                    ,anim: 5
                    ,shadeClose: true
                });
            }
        });

    });
</script>
</body>
</html>